extends layout

block content
  h1= title
  each message in messages
    p #{message.user} says #{message.text} at #{message.added}
  a(href='https://sheltered-hollows-81080.herokuapp.com/new') Add new message